[credential "https://github.com"]
	helper = 
	helper = !gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !gh auth git-credential
[user]
	name = zvarnes
	email = zach.varnes@gmail.com
[safe]
	directory = /home/zvarnes/homeassistant
[init]
	defaultBranch = main
[core]
	editor = nvim
[push]
	autoSetupRemote = true
[pull]
	rebase = true
[fetch]
	prune = true
[rerere]
	enabled = true
