[credential "https://github.com"]
	helper = 
	helper = !gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !gh auth git-credential
[user]
	name = zvarnes
	email = zach.varnes@gmail.com
[safe]
	directory = /home/zvarnes/homeassistant
